@page "/SignUp"
@rendermode InteractiveServer

@using KringeShopWebClient.Services;
@using KringeShopLib.Model;
@using KringeShopWebClient.Extention;
@using KringeShopWebClient.Model;


@inject IJSRuntime jsruntime;
@inject NavigationManager nav;
@inject AuthService connection;

<div class="login-container">

   <EditForm Model="@model" OnValidSubmit="SignUpMethod">
       <DataAnnotationsValidator/>
       <ValidationSummary/>
        <p>Логин</p>
        <InputText class="form-control" @bind-Value="@model.UserName" style="input-field"></InputText>

        <p >Почта</p>
        <InputText class="form-control" @bind-Value="@model.Email" style="input-field"></InputText>

        <p >Контактный телефон</p>
        <InputText class="form-control" @bind-Value="@model.PhoneNumber" style="input-field"></InputText>

        <p>Пароль</p>
        <InputText type="password" class="form-control" @bind-Value="@model.Password" style="input-field"></InputText>

        <p>Повторите пароль</p>
        <InputText p type="password" class="form-control" @bind-Value="@model.RepeatPassword" style="input-field"></InputText>

        <button type="submit" class="btn">Зарегистрироваться</button>
        <p>Уже есть аккаунт?</p>
        <button @onclick="SignInMethod" class="btn">Войти</button>
    </EditForm>

</div>



@code {


    private SignUpForm model;

    protected override void OnInitialized()
    {
        model = new SignUpForm(connection);
        base.OnInitialized();
    }

    private void SignInMethod()
    {
        nav.NavigateTo("/SignIn");
    }

    private void SignUpMethod()
    {
        model.SignUp();
        nav.NavigateTo("SignIn", true);
    }
}
